<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shop{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Shop System</h1>
        <nav>
            <a href="{% url 'custom-login' %}">Login</a> |
            <!-- <a href="{% url 'register' %}">Sign Up</a> | -->
            <a href="{% url 'custom-logout' %}">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
